#####################################
#
# files
#
####################################
.buildpath
.project

#####################################
#
# folders
#
#####################################
.settings/

